body {
    background-color: #434a57;
    color: white;
    /* padding: 20px; */
    font-family: Arial;
    overflow: hidden;
    /* font-size: 1.5em; */
}

.some-page-wrapper {
    /* align-items: center; */
    /* text-align: center; */
}

.headr {
    text-align: center;
    /* background-color: #173d84; */
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* padding: 10px; */
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* margin: 10px; */
}

.blue-column {
    background-color: #555555;
    height: 100%;
}

.green-column {
    background-color: #666666;
    height: 100%;
    /* font-size: 1.5em; */

}

.red-column {
    background-color: #777777;
    height: 100%;
}

form {
    width: 100%;
}